
.panda-bg-info{
    background-color:#fceae8;}
.catagories img{ width: 100px;}   
.sized img{width:200px;} 
.panda-btn-buy-now{
    color: white;
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff136f 100%);
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}